/AI.SDK/.vs
/AI.SDK/SDK/Speech.ForSY/Speech.ForSY.Service/bin
/AI.SDK/SDK/Speech.ForSY/Speech.ForSY.Service/obj
/AI.SDK/Speech.ForSY/obj
/AI.SDK/Speech.ForSY/bin
/AI.SDK/Speech.ForSY.Model/bin
/AI.SDK/Speech.ForSY.Model/obj
