
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#btnOpenStudyWords").click(function () {
            $(".topDefaultShade").css("display", "block");
            $(".itemByStudyWords").css("display", "block");
        });

        $("#btnOpenToSubject li").click(function () { 
            window.location.href = "/Speech/StudyWords?catagory=" + $(this).attr("data-StudyType");
        });;
    });
</script>


<div class="speechMainContainer" id="speechMainContainer">

    <ul class="sitenav">
        <li class="color1 floatLeft" id="btnOpenStudyWords"><i class="fa fa-line-chart"></i><p>学单词</p></li>
        <li class="color2 floatRight"><i class="fa fa-random"></i><p>随机练习</p></li>

        <li class="color3 floatLeft"><i class="fa fa-pencil"></i><p>模拟考试</p></li>
        <li class="color4 floatRight"><i class="fa fa-times"></i><p>错题本</p></li>

        <li class="color5 floatLeft"><i class="fa fa-trophy"></i><p>你说我翻译</p></li>
        <li class="color6 floatRight"><i class="fa fa-cogs"></i><p>系统维护</p></li>
    </ul>

</div>


<div class="itemByStudyWords">
    <div class="itemTitle">选择类别</div>
    <ul id="btnOpenToSubject" class="selectSubject">
        <li data-StudyType="studyNumber">
            <div class="subjectImages">
                <img src="~/resource/images/number-ico.jpg" />
            </div>
            <div class="subjectDetailMsg">
                <p class="title">数字(number)</p>
                <p class="describe ">阿拉伯数字、中英文转换发音练习...</p>
            </div>
        </li>
        <li data-StudyType="studyAnimals">
            <div class="subjectImages">
                <img src="~/resource/images/animal-ico.jpg" />
            </div>
            <div class="subjectDetailMsg">
                <p class="title">动物(animals)</p>
                <p class="describe ">阿拉伯数字、中英文转换发音练习...</p>
            </div>
        </li>
        <li data-StudyType="studyColor">
            <div class="subjectImages">
                <img src="~/resource/images/color-ico.jpg" />
            </div>
            <div class="subjectDetailMsg">
                <p class="title">颜色(color)</p>
                <p class="describe ">阿拉伯数字、中英文转换发音练习...</p>
            </div>
        </li>
        <li data-StudyType="studyBody">
            <div class="subjectImages">
                <img src="~/resource/images/animal-ico.jpg" />
            </div>
            <div class="subjectDetailMsg">
                <p class="title">身体部位(body)</p>
                <p class="describe ">阿拉伯数字、中英文转换发音练习...</p>
            </div>
        </li>
        <li data-StudyType="studyTools">
            <div class="subjectImages">
                <img src="~/resource/images/animal-ico.jpg" />
            </div>
            <div class="subjectDetailMsg">
                <p class="title">学习工具(tools)</p>
                <p class="describe ">阿拉伯数字、中英文转换发音练习...</p>
            </div>
        </li>
        <li data-StudyType="studyFamily">
            <div class="subjectImages">
                <img src="~/resource/images/family-ico.jpg" />
            </div>
            <div class="subjectDetailMsg">
                <p class="title">家庭人员(family)</p>
                <p class="describe ">阿拉伯数字、中英文转换发音练习...</p>
            </div>
        </li>

    </ul>
</div>

