
@{
    ViewData["Title"] = "StudyWords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="studyWords">
    <ul>
        <li class="leftItemSubject"></li>
        <li class="centerTranslates"> 
            <div class="translatesContainer"> 
                <div class="englishValue">One</div> 
                <div class="chinessValue">阿拉伯数字：《 1 》、 大写《 一 》</div> 
            </div>
        </li>
        <li class="rightControlButton"></li>
    </ul>

</div>