
body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}



body {
    color: #D5D6E2;
    font-weight: 500;
    font-size: 1.05em;
    font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
}

a {
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

    a:hover, a:focus {
        color: #74777b;
        text-decoration: none;
    }

.speechMainContainer {
    background: url('../images/bg-home.jpg') no-repeat center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    position: fixed;
}

    .speechMainContainer .sitenav {
        width: 65%;
        height: 60%;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        padding: 0px;
    }

        .speechMainContainer .sitenav li {
            cursor: default;
            position: relative;
            text-align: center;
            width: 45%;
            height: 29%;
            color: #ffffff;
            list-style: none;
            border-radius: 10px;
            margin: 3% 2%;
        }

            .speechMainContainer .sitenav li i {
                font-size: 50px;
                margin: 15% 0 0;
            }

            .speechMainContainer .sitenav li p {
                font-size: 16px;
                font-weight: 600;
            }

            .speechMainContainer .sitenav li.floatLeft {
                float: left;
            }

            .speechMainContainer .sitenav li.floatRight {
                float: right;
            }

            .speechMainContainer .sitenav li.color1 {
                background-color: #00b6de
            }

            .speechMainContainer .sitenav li.color2 {
                background-color: #9e7ac2
            }

            .speechMainContainer .sitenav li.color3 {
                background-color: #ff7659
            }

            .speechMainContainer .sitenav li.color4 {
                background-color: #f8cd36
            }

            .speechMainContainer .sitenav li.color5 {
                background-color: #db993a
            }

            .speechMainContainer .sitenav li.color6 {
                background-color: #5ca7df
            }

.tiprevolvephone {
    display: none;
    background: url('../images/revolvephone.gif') no-repeat center center;
    background-color: #fff;
    position: fixed;
    z-index: 100000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    background-size: 45%
}

    .tiprevolvephone .tips {
        position: fixed;
        z-index: 100;
        color: #03a7e4;
        bottom: 30%;
        text-align: center;
        width: 100%;
        font-size: 22px;
    }

.topDefaultShade {
    width: 100%;
    height: 100%;
    background-color: #c3c3c3;
    position: fixed;
    z-index: 100;
    opacity: 0.6;
    display: none;
}

.itemByStudyWords {
    display: none;
    width: 75%;
    margin: auto;
    background-color: #fff;
    padding: 0px;
    border-radius: 5px;
    height: 70%;
    position: fixed;
    z-index: 200;
    color: #000;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

    .itemByStudyWords .itemTitle {
        color: #584559;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid #f5f5f5;
    }

    .itemByStudyWords .selectSubject {
        padding: 0px;
        height: 88%;
        width: 90%;
        margin: 0 auto;
        margin-top: 5px;
    }

        .itemByStudyWords .selectSubject li {
            list-style: none;
            height: 65px;
            width: 100%;
            float: left;
            border-bottom: 1px solid #ccc;
            text-align: center;
            margin-bottom: 10px;
            padding-left: 5px;
        }

            .itemByStudyWords .selectSubject li .subjectImages {
                width: 60px;
                float: left;
                height: 100%;
            }

                .itemByStudyWords .selectSubject li .subjectImages img {
                    width: 100%;
                    border-radius: 5px;
                }

            .itemByStudyWords .selectSubject li .subjectDetailMsg {
                float: left;
                max-width: 200px;
                text-align: left;
            }

                .itemByStudyWords .selectSubject li .subjectDetailMsg .title {
                    font-size: 16px;
                    color: #000000;
                    font-weight: 600;
                    margin: 5px 0px 0px 10px;
                }

                .itemByStudyWords .selectSubject li .subjectDetailMsg .describe {
                    font-size: 10px;
                    color: #000000;
                    display: block;
                    margin: 10px 0px 0px 10px;
                }





.studyWords {
    background: url('../images/bg-study.gif') no-repeat center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    position: fixed;
}

    .studyWords ul {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
     
.studyWords ul li {
    list-style: none;
}
    .studyWords ul li.leftItemSubject {
        width: 25.5%;
        float: left;
        height: 100%;
    }

    .studyWords ul li.centerTranslates {
        width: 50.5%;
        float: left;
        height: 100%;
        position: relative;
    }

        .studyWords ul li.centerTranslates .translatesContainer {
            margin: auto;
            width: 100%;
            height: 50%; 
            position: absolute;
            bottom: 0px;
            top: 0px;
            right: 0px;
            left: 0px; 
            text-align: center;
            line-height:700%;
        }

            .studyWords ul li.centerTranslates .translatesContainer .englishValue {
                font-weight: 600;
                font-size: 80px;
                color: #000000;
                background: linear-gradient(to right, #ffe0e2, #e82d8d);
                -webkit-background-clip: text;
                color: transparent;
            }
            .studyWords ul li.centerTranslates .translatesContainer .chinessValue {
                font-weight: 600;
                font-size: 18px;
                color: #2f2c2c;
            }
            .studyWords ul li.rightControlButton {
    width: 24%;
    float: left;
    height: 100%;
}
